.status {
    display: flex;
    margin: 30px 30px 15px 30px;
    padding: 18px 0px;
    background-color: #c4c4c4;
    justify-content: space-around;
  
  }
  
  
  .step {
    display: flex;
    align-items: center;
    flex-direction: column;
    //margin: 20px;
    //background-color: purple;
  
  }
  
  
  
  .circle {
    width: 82px;
    height: 82px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #202f36;
  
  }
  
  .active-circle {
    width: 82px;
    height: 82px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #fcde32;
  
  }
  
  .active-step-number {
    color: #202f36;
    font-weight: bold;
  
  
  }
  
  .step-number {
    color: #fcde32;
    font-weight: bold;
  
  
  }
  
  .step-info {
    margin: 5px;
  
  }
  
  .step-info p {
    font-weight: bold;
  
  }
  
  .cadastro {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
    //padding: 18px 0px;
    background-color: #c4c4c4;
  
  
  }
  
  .titulo {
    display: flex;
    margin: 30px;
    flex-grow: 1;
  
  
  }
  
  .titulo h2 {
    font-size: 1.5rem;
  
  }
  

  .checkbox-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;   
    align-items: center;  
    flex-wrap: wrap;
    margin: 1% 0 1% 0;   
    //background-color: purple;
    width: 60%;

  }

  
  .checkbox-group input[type=checkbox] {
    margin: 1% ;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    
    
  }

  .checkbox-group input[type=radio] {
    margin: 1% ;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    
    
  }

 
  .checkbox-group label {
    display: flex;
    flex-direction: row;
    justify-content: ;   
    align-items: center;  
    max-width: 48%;
    margin: 1% 0 1% 0;
    padding: 18px;  
    font-size: 1rem;
    
  }

  .input-group .input-p select {
    width: 48%;
    margin: 0;
    border-radius: 5px;

  }

  .input-group textarea {
    margin: 1% 0 1% 0;
    width: 60%;
    padding: 18px;
    font-size: 1rem;
    border-radius: 5px;
    
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;     
    margin: 0 10% 0;   
  
  }
  
  .input-group input {
    margin: 1% 0 1% 0;  
    width: 60%;
    padding: 18px;  
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .input-group .input-p {
    display: flex;
    justify-content: space-between;
    margin: 1% 0 1% 0; 
    width: 60%;
    //background-color: purple;
  
  }
  
  .input-group .input-p input {
    max-width: 48%;
    margin:0;
    //background-color: yellow;
    border-radius: 5px;

  }
  
  .input-group .input-btn {
    display: flex;
    justify-content: flex-end;
    margin: 1% 0 1% 0; 
    width: 60%;
    //background-color: purple;
    
  } 
  
  .input-group .input-btn input[type=submit] {
    max-width: 48%;
    margin:0;
    background-color: #fcde32;
    color: #202f36;
    font-weight: bold;
    border-radius: 5px;
  } 
  
  .input-group .input-btn-group {
    display: flex;
    justify-content: space-between;
    margin: 1% 0 1% 0; 
    width: 60%;
    //background-color: purple;
    
  } 
  
  .input-group .input-btn-group input:nth-child(1) {
    margin: 1% 0 1% 0; 
    max-width: 48%;
    background-color: #419CA1;
    color: #202f36;
    font-weight: bold;
    border-radius: 5px;
  } 
  
  .input-group .input-btn-group input:nth-child(2) {
    margin: 1% 0 1% 0; 
    max-width: 48%;
    background-color: #fcde32;
    color: #202f36;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .input-group-title {
  display: flex;
  justify-content: flex-start;
  margin: 1% 0 1% 0;
  width: 60%;
  
  }
  
  .input-group-title h6 {
  font-size: 1rem;
  
  }
  
  .input-group-text {
  display: flex;
  justify-content: flex-start;
  margin: 1% 0 1% 0;
  width: 60%;
  
  }
  
  .input-group-text p {
  font-size: 1rem;
  
  }
  
  .input-group .input-p input[type=submit] {
  max-width: 48%;
  margin:0;
  background-color: #fcde32;
  border-radius: 5px;
  }
  
  .input-group .input-p .p {
    max-width: 24%;
  }

  /*Mobile*/
  @media (max-width: 768px){ 
    .status {
        display: none;
  
    }
    
  .input-group {
    align-items: ;
  
  }
  
  .input-group input {
    margin: 1% 10% 1%;
    width: 80%;
  
  }
  
  .input-group .input-p {
    margin: 1% 10% 1%; 
    width: 80%;
  
  }
  
  .input-group .input-btn {
    margin: 1% 10% 1% ; 
    width: 80%;
    //background-color: purple;
    
  } 
  
  .input-group .input-btn-group {
    margin: 1% 10% 1%; 
    width: 80%;
    
  } 
  
  .input-group-title {
    margin: 1% 10% 1%;
    width: 80%;
  
  }
  
  .input-group-text {
    margin: 1% 10% 1%;
    width: 80%;
  
  }
  
  .checkbox-group {
    margin: 1% 10% 1%;
    width: 80%;

  }
  
  }
  
  
  