.perfil {
    display: flex;
    flex-direction: column;
    //background-color: aqua;
  height: 100vh;
    
}

.perfil .nome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //background-color: purple;
  height: 20vh;
  
}

.perfil .nome h2 {
  font-size: 2rem;
  color: #FFFFFF;

}

.perfil .foto  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //background-color: salmon;
  height: 35vh;

}

.perfil .foto img {
  width: 164px;
  height: 164px;

}

.perfil .descricao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;

}

.perfil .descricao p {
  color: #FFFFFF;
  font-size: 1rem;

}

.perfil .btn-cursos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;

}


.perfil .btn-cursos button {
    background-color: #FCDE32;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    width: 300px;
    font-size: 1em;
    color: #202F36 ;
    font-weight: bold;

  }

  .perfil .social-icons {
    display: flex;
    flex-direction: row;
   justify-content: center;
    align-items: center;
   height: 15vh;
   

  }

  .perfil .social-icons a  {
    margin: 10px;

  }

  .perfil .social-icons a img {
    width: 32px;
    height: 32px;
  }