.sobrenos h1 {
    font-weight: lighter;
    font-size: 4rem;
    color: #FFFFFF;
    text-align: center;

}

.sobrenos h1 span {
    font-weight: bold;
    font-size: 4rem;
    color: #FCDE32;
    text-align: center;

}

.nome{
    padding: 3vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #C4C4C4;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.p1{
    font-weight: bold;
    font-size: 20px;
    color:#4F4F4F;
    margin-bottom: 5px;
}
.p2{
    font-size: 14px;
    color: #FFFFFF;
}