<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="icon" href="img/logo_up.svg"/> 
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/formEmpresa.css"/>
</head>
<body class="container bg-space">
    <section class="status">
        <div class="step">
            <div class="active-circle">
              <p class="active-step-number">1</p>
            </div>
            <div class="step-info">
              <p>Autenticação</p>
            </div>
        </div>
        <div class="step">
            <div class="circle">
              <p class="step-number">2</p>
            </div>
            <div class="step-info">
              <p>Dados Básicos</p>
            </div>
        </div>
        <div class="step">
            <div class="circle">
              <p class="step-number">3</p>
            </div>
            <div class="step-info">
              <p>Endereço</p>
            </div>
        </div>
        <div class="step">
            <div class="circle">
              <p class="step-number">4</p>
            </div>
            <div class="step-info">
              <p>Dados do Representante</p>
            </div>
        </div>
        <div class="step">
            <div class="circle">
              <p class="step-number">5</p>
            </div>
            <div class="step-info">
              <p>Informações Adicionais</p>
            </div>
        </div>
    </section>
    <form class="container" action="/cadastroEmpresa" method="POST">
      <section class="cadastro">
        <div class="titulo">
            <h2>1. Autenticação</h2>
        </div>
    <div class="input-group">
      <input type="email" name="emailEmp" placeholder="E-mail" required/>
      <input type="email" name="cemail" placeholder="Confirmação de E-mail" required/>
        <div class="input-p">
            <input type="password" name="senha" placeholder="Senha" required/>
            <input type="password" name="csenha" placeholder="Confirmar senha" required/>
        </div>    
        <div class="input-btn">
          <input type="submit" name="" value="Avançar"/>
        </div>
    </div>
  </section>
  <section class="cadastro">
    <div class="titulo">
      <h2>2. Dados Básicos</h2>
  </div>
  <div class="input-group">
    <input type="text" name="nomeEmpresa" placeholder="Nome da Empresa" required/>
  <div class="input-p">
    <input type="text" name="cnpj" placeholder="CNPJ" required/>
    <select id="paisSede" name="paisSede" required default="Brasil">
    <option value="">Option</option>
    <option value="">Brasil</option>
    <option value="">Option</option>
    
  </select>
</div>
<input type="text" name="razaoSocial" placeholder="Razão Social" required/>
<div class="input-btn-group">
  <input type="submit" name="" value="Voltar"/>
  <input type="submit" name="" value="Avançar"/>
</div>
</div>
  </section>
  <section class="cadastro">
    <div class="titulo">
      <h2>3. Endereço</h2>
  </div>
  <div class="input-group">
    <div class="input-p">
      <input type="text" name="cep" placeholder="CEP" required/>
      <input type="text" name="cidade" placeholder="Cidade" required/>
    </div>
    <div class="input-p">
      <input type="text" name="estado" placeholder="Estado" required/>
      <input type="number" name="numero" placeholder="Número" required/>
    </div>
    <input type="text" name="complemento" placeholder="Complemento"/>
    <div class="input-btn-group">
      <input type="submit" name="" value="Voltar"/>
      <input type="submit" name="" value="Avançar"/>
    </div>
  </div> 
  </section>
  <section class="cadastro">
    <div class="titulo">
      <h2>4. Dados do representante</h2>
  </div>
  <div class="input-group">
    <input class="g" type="text" name="nomeRep" placeholder="Nome" required/>
    <div class="input-p">
      <input class="g" type="text" name="cpf" placeholder="CPF" required/>
      <input class="g" type="text" name="telefone" placeholder="Telefone" required/>
    </div> 
    <input class="g" type="email" name="emailRep" placeholder="E-mail" required/>
    <div class="input-btn">
      <input type="submit" name="" value="Finalizar cadastro"/>
    </div>
    </div>
  </section>
    </form>
</body>
</html>