<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Empresa</title>
    <link rel="icon" href="img/logo_up.svg"/> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/perfilEmpresa.css"/>
</head>
<body class="container bg-space">
    <section class="perfil">
        <div class="nome">
            <h2>Empresa EdUp</h2>

        </div>
        <figure class="foto">
            <img src="/img/avatar.png" alt="Foto da Empresa"/>
        </figure>
        <div class="descricao">
        <p>Descrição</p>
        </div>
        <div class="btn-cursos">
        <button>Cursos</button>
        </div>
        <figure class="social-icons">
            <a href="#"><img src="img/face.svg" alt="Linkedin"/></a>
            <a href="#"><img src="img/twitter.svg" alt="Instagram"/></a>
            <a href="#"><img src="img/in.svg" alt="Github"/></a>
        </figure>

    </section>
    
</body>
</html>