.logo-up {
    display: flex;
    justify-content: center;
    //background-color: purple;
    height: 35vh;
   
}

.login {
    display: flex;
    flex-direction: column;
   // background-color: aqua;
    height: 65vh;
    align-items: center;
    
}

.login input[type=email],input[type=password] {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 1em;

}

.login input[type=submit] {
    background-color: #FCDE32;
    border-radius: 5px;
    padding: 20px 10px 20px 10px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 1em;
}
.login input[type=submit]:hover {
    background-color: #FFDC10;
    
}

.register {
    display: flex;
    flex-direction: row;

}
.register p {
    color: #FFFFFF;
    margin-right: 10px;
}

.register a {
    color: #FCDE32;
    font-weight: bold;
}

.recovery {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-bottom: 20px;
    
}

.recovery a {
    color: #FCDE32;
    font-weight: bold;

}

.tipo-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
   // background-color: blueviolet;
}

.tipo-usuario input[type=radio] {
    width: 24px;
    height: 24px;
    flex-grow: ;


}

.tipo-usuario label {
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 5px;
    flex-grow: 1;
}

/*Mobile*/
/*@media (max-width: 768px){
    .login input[type=email],input[type=password] {
      //  width: 50vw;
        
    }

    .recovery {
        width: 50vw;

    }

    .tipo-usuario {
        width: 50vw;

    }
}
*/
