.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.rodape .logor {
    margin-left: 30px;
}

.rodape .copyright {
    display: flex;
    align-items: center;
    justify-content: center;

}

.copyright p, span {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;

}



.rodape .social-icons {
    display: flex;
    align-items: flex-end;
    margin-right: 30px;

}

.rodape .social-icons img {
    width: 36px;
    height: 36px;
    margin: 10px;

}







@media (max-width: 768px){
    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .rodape .logor, .copyright, .rodape .social-icons   {
        margin: 10px;
    }

    


}