<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Empresa</title>    
    <link rel="icon" href="img/logo_up.svg"/> 
    <link rel="stylesheet" href="css/crudEmpresa.css"/>
    <link rel="stylesheet" href="css/reset.css"/>
</head>
<body class="container"> 
    <div class="painel">
        <section class="lateral"> 
            <section class="config-icon">
                <a href="#"><img src="/img/config.svg" alt="Config"/></a> 
            </section>
            <figure class="foto-usuario">
                <img src="img/user.svg" alt="Foto do Usuário"/>
            </figure>
            <section class="info"> 
                <p class="nome-aluno">{{user.company.nome}}</p>
                <p class="descricao-aluno">Descriçao</p>
                <div class="identificador">
                    <p>Empresa</p>
                </div>
            </section>
            <ul class="menu-lateral">
                <li><a class="marked" href="#">Painel</a></li>
                <li><a class="menu-lateral-item" href="#">Perfil</a></li>
                <li><a class="menu-lateral-item" href="/cadastroCurso">Cursos</a></li>
                <li><a class="menu-lateral-item" href="#">Configurações</a></li>
            </ul>

            <ul class="menu-lateral-end">
                <li><a href="#"><img src="/img/exit.svg" alt="Sair"/> Sair</a></li>
            </ul>
            
        </section>
        <section class="conteudo"> 
                <section class="title-conteudo">
                    <h2>Painel</h2> 
                </section>
            <article class="dados">
                <section>
                    <ul>
                        <li>00</li>
                        <li>Alunos</li>
                    </ul>
                </section>
                <section>
                <ul>
                    <li>00</li>
                    <li>Cursos Divulgados</li>
                </ul>
                </section>
                <section>
                <ul>
                    <li>Outros Dados</li>
                   
                </ul>
                </section>
            </article>

        </section>

        </div>
    </body>