<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EdUp</title>
    <link rel="icon" href="/img/logo_up.svg"/> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" /css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/menu_template.css"/>
</head>
<body class="container bg-space">
    <header> 
        <figure class="logo">
            <img src="/img/logo_edup.svg" alt="Logo Edup"/>
        </figure>
        <form class="search">
            <input type="search" placeholder="Buscar" name="pesquisar"/>
            <button></button>
        </form>
        <nav class="menu">
            <a href="/">Home</a>
            <a href="/pagina_cursos.html">Cursos</a>
            <a href="/sobrenos.html">Sobre</a>
        </nav>
        <section class="acesso">
            <a class="sigin">Login</a>
            <button class="signup">Cadastre-se</button>
        </section>
    </header>
   <section class="start">
        <section class="home"> 
            <div class="title">
            <h1>Inicie sua jornada <span>conosco.</span></h1>
            </div>
            <div class="button-group">
                <button class="button-aluno">Aluno</button>
                <button class="button-empresa">Empresa</button>               
            </div>
            <figure class="descer"><a href="#how"><img src="./img/down.svg" alt="Ir para baixo"/></a>   </figure>
        </section>
        <figure class="illustration">
            <img src="./img/illustration_home.png" alt="Astronauta EdUP"/>
        </figure>
   </section> 
   <section class="how" id="how">
        <h2>Conectamos você as melhores</br><span> oportunidades.</span></h2>
        <h2>Como ?</h2>
        <div class="circle-list">
            <div class="container-circle">
                <div class="circle">
                    <img src="/img/step1.svg" alt="Icon"/>
                </div>
                <p>1.<a href="#">Cadastre-se</a></p>    
            </div>
            <figure class="right-arrow">
                <img src="/img/arrow_right.svg" alt="Próximo"/>
            </figure>
            <div class="container-circle">
                <div class="circle">
                    <img src="/img/step2.svg" alt="Icon"/>
                </div>
                <p>2.<a href="#">Escolha</a> um curso</p>    
            </div>
            <figure class="right-arrow">
                <img src="/img/arrow_right.svg" alt="Próximo"/>
            </figure>
            <div class="container-circle">
                <div class="circle">
                    <img src="/img/step3.svg" alt="Icon"/>
                </div>
                <p>3.<a href="#">Acompanhe</a></br> o processo de seleção</p>    
            </div>

    </div>
   </section>
   <section class="preview">
        <h2><span>O que </span>oferecemos:</h2>
        <div class="card-list">
            <div class="card-curso">
                <img src="/img/fundo-curso.png" alt="curso"/>
                <div class="card-body">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt mattis urna eu fringilla.</p>
                </div>
                <div class="tags">
                    <p>Tag</p>
                </div>
            </div>
            <div class="card-curso">
                <img src="/img/fundo-curso.png" alt="curso"/>
                <div class="card-body">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt mattis urna eu fringilla.</p>
                </div>
                <div class="tags">
                    <p>Tag</p>
                </div>
            </div>
            <div class="card-curso">
                <img src="/img/fundo-curso.png" alt="curso"/>
                <div class="card-body">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt mattis urna eu fringilla.</p>
                </div>
                <div class="tags">
                    <p>Tag</p>
                </div>
            </div>
            
        </div>
        <button class="btn-link">Ver mais</button>
   </section>
   <!-------------Footer------------>
</body>
</html>