<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Curso</title>
    <link rel="icon" href="img/logo_up.svg"/> 
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/novoCurso.css"/>
</head>
<body class="container bg-space">
    <form class="container">
      <section class="cadastro">
        <div class="titulo">
            <h2>Novo Curso</h2>
        </div>
   
    <div class="input-group">
      <input type="text" name="name" placeholder="Nome do curso" class="long"/>      
        <div class="input-p">
            <input type="number" name="carga_horaria" placeholder="Carga horária" class="long"/>
            <input type="Date" name="prazo" placeholder="Prazo de inscrição" class="long"/>
        </div>   
        <div class="input-p">
          <input type="text" name="area" placeholder="Área do curso" class="long"/>
          <input type="text" name="tipo" placeholder="Tipo de curso" class="long"/>
      </div>  
      
        <div class="input-group-title"> 
          <h6>Duração</h6>
        </div>
        <div class="input-p">
        <input type="date" name="data_de_inicio" />
        <input type="date" name="data_de_termino" />
        </div> 
        <div class="input-group-title"> 
          <h6>Frequência</h6>
        </div>
        <div class="checkbox-group">
          
          <label for="dia0">
          <input type="checkbox" id="dia0" name="domingo" value="Domingo">
           Domingo</label>
           <label for="dia1">
          <input type="checkbox" id="dia1" name="segunda" value="Segunda">
           Segunda</label>
          <label for="dia2">
          <input type="checkbox" id="dia2" name="terca" value="Terça">
           Terça</label>
          <label for="dia3">
          <input type="checkbox" id="dia3" name="quarta" value="Quarta">
           Quarta</label>
           <label for="dia4">
            <input type="checkbox" id="dia4" name="quinta" value="Quinta">
             Quinta</label>
             <label for="dia5">
              <input type="checkbox" id="dia5" name="sexta" value="Sexta">
               Sexta</label>
               <label for="dia6">
                <input type="checkbox" id="dia6" name="sabado" value="Sabado">
                 Sabado</label>
        </div>
        <div class="input-group-title"> 
          <h6>Horário</h6>
        </div>
        <div class="checkbox-group">
          
          <label for="turno0">
          <input type="checkbox" id="turno0" name="manha" value="Manhã">
           Manhã</label>
           <label for="turno1">
            <input type="checkbox" id="turno1" name="tarde" value="Tarde">
           Tarde</label>
             <label for="turno2">
              <input type="checkbox" id="turno2" name="noite" value="Noite">
              Noite</label>              
             </div>
             <div class="input-p">
              <input type="text" name="" placeholder="Começo"/>
              <input type="text" name="" placeholder="Término"/>
              </div>
              <div class="input-group-title"> 
                <h6>Faixa Etária</h6>
              </div>
              <div class="input-p">
                <input class="p" type="number" name="idade_min" placeholder="De"/>
                <input class="p" type="number" name="idade_max" placeholder="Até"/>
                <input type="number" name="vagas" placeholder="Número de vagas"/>
                </div>
                <div class="input-group-title"> 
                  <h6>Selecione o público alvo em ordem de preferência:</h6>
                </div>
                <div class="input-p">
                  <input class="p" type="number" name="" placeholder="Público alvo 1"/>
                  <input class="p" type="number" name="" placeholder="Público alvo 1"/>
                  <input class="p" type="number" name="" placeholder="Público alvo 1"/>
                  </div>
                  <div class="input-p">
                    <input class="p" type="number" name="" placeholder="Público alvo 1"/>
                    <input class="p" type="number" name="" placeholder="Público alvo 1"/>
                    <input class="p" type="number" name="" placeholder="Público alvo 1"/>
                    </div>
                    <div class="input-group-title"> 
                      <h6>Seu curso está preparado para receber PCDs?</h6>
                    </div>
                    <div class="checkbox-group">
          
                      <label for="sim">
                      <input type="radio" id="sim" name="s_n" value="Sim">
                       Sim</label>
                       <label for="nao">
                        <input type="radio" id="nao" name="s_n" value="Não">
                       Não</label>
                       </div>
                       <div class="input-p">
                       <select class="p"  id="paisSede" name="paisSede" required>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          
                        </select>
                        <select class="p"  id="paisSede" name="paisSede" required>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          
                        </select>
                        <select class="p"  id="paisSede" name="paisSede" required>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          
                        </select>
                      </div>
                      <div class="input-p">
                        <select class="p" id="paisSede" name="paisSede" required>
                           <option value="">Option</option>
                           <option value="">Option</option>
                           <option value="">Option</option>
                           
                         </select>
                         <select class="p" id="paisSede" name="paisSede" required>
                           <option value="">Option</option>
                           <option value="">Option</option>
                           <option value="">Option</option>
                           
                         </select>
                         <select class="p"  id="paisSede" name="paisSede" required>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          <option value="">Option</option>
                          
                        </select>
                       </div>
                       <div class="input-group-title"> 
                        <h6>Sobre o curso:</h6>
                      </div>
                      <textarea id="descricao" placeholder="Descrição"></textarea> 
                       
                      <textarea id="requisitos" placeholder="Requisitos"></textarea>  
                        
                      
                      <textarea id="conteudo" placeholder="Conteúdo"></textarea>  
                        
                      <div class="input-group-title"> 
                        <h6>Onde o curso ocorrerá?</h6>
                      </div>
                      <div class="input-p">
                        <input type="text" name="cep" placeholder="CEP"/>
                        <input type="text" name="cidade" placeholder="Cidade"/>
                        </div>
                        <div class="input-p">
                          <input type="text" name="estado" placeholder="Estado"/>
                          <input type="number" name="numero" placeholder="Número"/>
                          </div>
                          <input type="text" name="complemento" placeholder="Complemento"/>      
                      <div class="input-btn">
          <input type="submit" name="" value="Criar"/>
        </div>
    </div>
  </section>
  
  </section>
    </form>
</body>
</html>