.cursos {
    display: flex;
    flex-direction: column;
    margin: 30px 10%;

}

.search-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: #C4C4C4;
    width: 100%;
    //flex-grow: 1;

}

.search-container  figure {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 5%;
    margin: 5px 5px 5px 15px;


}

.search-container figure img { 
    width: 32px;
    height: 32px;
    


}

.search-container input[type=submit] {
    padding: 18px;
    //width: 20%;
    border-radius: 5px;
    background-color: #fcde32;
    font-weight: bold;
    margin: 5px;
    flex-grow: 1;
}

.search-container input[type=search] {
    padding: 18px;
    //width: 75%;
    border-radius: 5px;
    margin: 5px;
    background-color: #C4C4C4;
    flex-grow: 4;
}

.container-resultados {
    display: flex;
    flex-direction: row;
    margin-top: 100px;


}

.filtro {
    display: flex;
    flex-direction: column;
    
    width: 20%;
    height: 500px;
    //background-color: yellow;
    

}

.container-resultados .resultados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    //background-color: purple;

}

.filtro-empresa, .filtro-curso, .filtro-tag {
    margin-left: 30px;
    margin-bottom: 100px;     


}

.filtro-empresa h6, .filtro-curso h6, .filtro-tag h6 {
    color: #FFFFFF;
    margin: 10px;
}

.filtro-empresa label, .filtro-curso label, .filtro-tag label {
    color: #FFFFFF;

}

/*.container-resultados .resultados .encontrados h6 {
    color: #FFFFFF;
    margin-left: 30px;

}*/

.card-curso {
    display: flex;
    flex-direction: column;
        margin: 30px;


}

.card-curso img {
    width: 250px;
    height: 150px;
}

.card-curso .card-body h2 {
    margin: 10px;
    font-size: 1.5rem;
}

.card-curso .card-body p {
    margin: 10px;
}

.card-curso .card-body {
    width: 250px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #C4C4C4;
}

.card-curso .tags {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    background-color: #FFFFFF;

}

.card-curso .tags p {
    margin: 10px;
    padding: 5px;
    border-radius: 25%;
    background-color: #FCDE32;
    font-weight: bold;

}


@media (max-width: 768px) {

    .filtro {
        display: none;

    }

    .container-resultados .resultados {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}